/* $Id: token.css,v 1.3 2010/09/06 14:55:41 davereid Exp $ */

.drupalseopack-logo {
	margin: 10px 0 10px 0;
	padding: 0px;
}
.drupalseopack-logo table {
	border: 1px solid #cccccc;  
	margin: 0;
	padding: 0;
	width: 100%;
}
.drupalseopack-logo table td {
	border: none;
	padding: 10px;
	text-align: left;
}
.drupalseopack-logo table td.drupalseopack-logo-td {
	width: 190px;
}
.drupalseopack-help {
	border: 1px solid #666666;
	padding: 0px 4px;
	font-weight: bold;
/*	line-height: 14px;*/
	cursor: help;
	color: #0033CC;
}

#drupalseopack_seomozanchor select,
#drupalseopack_seomozlinks select, 
#drupalseopack_seomozmetrics select
{
font-size: 10px;
}